.background {
  width: 100%;
  height: 500px;
  background-image: url('https://www.w3schools.com/w3images/parallax1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.75;
  position: relative;
}

.title {
  letter-spacing: 10px;
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 12px 24px;
  background-color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title::after {
  content: "MY WEBSITE LOGO";
}



.achivement {
  width: 100%;
  background-color: #616161;
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.acItem {
  margin: 16px;
  text-align: center;
  color: white;
  width: 100%;
  line-height: 1.8;
}
.acName {
  font-size: 30px;
}
.portfolio {
  letter-spacing: 10px;
  color: white;
  text-align: center;
  font-size: 48px;
  padding: 12px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.8;
}
.contact {
  letter-spacing: 10px;
  color: white;
  text-align: center;
  font-size: 48px;
  padding: 12px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.8;
}

@media (max-width: 740px) {
  .title::after {
    content: "MY LOGO";
  }
  .achivement {
    width: 100%;
    background-color: #616161;
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}